---
import Layout from "../layouts/Layout.astro";
import Carrousel from "../components/Carrousel.tsx";
import HeaderMenuFood from "../components/HeaderMenuFood.tsx";
import GalleryHome from "../components/GalleryHome.tsx";
import Sucursales from "../components/Sucursales.tsx";
import {
  images,
  imgGalleryHome,
  itemsMenuFood,
  locations,
  sucursales,
} from "../data";
import Menu from "@/components/Menu";
---

<Layout title="Las Adoraditas">
  <main>
    <Menu
      logo={"/logo.svg"}
      locations={locations}
      href="/menu-adoraditas"
      menuSpan="NAVEGA POR EL MENÚ"
      client:load
    />
    <Carrousel client:load images={images} />
    <HeaderMenuFood items={itemsMenuFood} />
    <GalleryHome images={imgGalleryHome} />
    <Sucursales sucursales={sucursales} />
  </main>
</Layout>
